@media(max-width:910px) {
    .nav-links {
        display: none;
    
    }
    .fa-bars {
        display: flex !important;
        font-size: 22px;
        cursor: pointer;
    }
    
    .introduction .intro-left-side h1 {
        text-align: center;
    }
    .introduction .intro-left-side p {
        text-align: center;
    }
    .introduction .intro-left-side .book-a-call {
        margin: 0 auto;
        padding-top: 35px;
    }
 
    .intro-right-side {
        margin: 0 auto;
    }

    }
@media(max-width:910px) {
    header {
        padding: 20px !important;
     }
     .introduction {
         padding: 50px;
        
        
     }
     .intro-left-side {
         padding-top: 58px;
         ;
     }
}
@media(max-width:1342px) and (min-width:911px) {
    .intro-left-side {
        flex-basis: 100%;
    }
    .intro-left-side h1, .intro-left-side p {
        text-align: center;
    }
    .intro-left-side .book-a-call {
        margin: 0 auto;
        padding-top: 40px;
    }
    .intro-right-side {
        margin: 0 auto;
    }
}
